<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.senhome.service.cms.dal.mapper.CmsCarouselDetailMapper" >

    <resultMap id="BaseResultMap" type="com.senhome.service.cms.dal.dataobject.CmsCarouselDetail" >
        <id column="id" property="id"/>
        <result column="cms_detail_id" property="cmsDetailId"/>
        <result column="sequence" property="sequence"/>
        <result column="type" property="type"/>
        <result column="remark" property="remark"/>
        <result column="image" property="image"/>
        <result column="image_width" property="imageWidth"/>
        <result column="image_height" property="imageHeight"/>
        <result column="display_id" property="displayId"/>
        <result column="is_available" property="isAvailable"/>
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, cms_detail_id, sequence, `type`, remark, image, image_width, image_height, display_id, is_available,
        create_time, update_time
    </sql>

    <select id="findByCmsId" resultMap="BaseResultMap" >
        select <include refid="Base_Column_List" />
        from cms_carousel_detail
        where is_available = 1 and cms_id = #{cmsId}
        order by sequence asc
    </select>

</mapper>