<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.senhome.service.cms.dal.mapper.CmsGroupDetailMapper" >

    <resultMap id="BaseResultMap" type="com.senhome.service.cms.dal.dataobject.CmsGroupDetail" >
        <id column="id" property="id"/>
        <result column="cms_id" property="cmsId"/>
        <result column="sequence" property="sequence"/>
        <result column="is_available" property="isAvailable"/>
        <result column="layout_type" property="layoutType"/>
        <result column="one_remark" property="oneRemark"/>
        <result column="one_image_url" property="oneImageUrl"/>
        <result column="one_image_width" property="oneImageWidth"/>
        <result column="one_image_height" property="oneImageHeight" />
        <result column="one_type" property="oneType" />
        <result column="one_display_id" property="oneDisplayId" />
        <result column="two_remark" property="twoRemark"/>
        <result column="two_image_url" property="twoImageUrl"/>
        <result column="two_image_width" property="twoImageWidth"/>
        <result column="two_image_height" property="twoImageHeight" />
        <result column="two_type" property="twoType" />
        <result column="two_display_id" property="twoDisplayId" />
        <result column="three_remark" property="threeRemark"/>
        <result column="three_image_url" property="threeImageUrl"/>
        <result column="three_image_width" property="threeImageWidth"/>
        <result column="three_image_height" property="threeImageHeight" />
        <result column="three_type" property="threeType" />
        <result column="three_display_id" property="threeDisplayId" />
        <result column="four_remark" property="fourRemark"/>
        <result column="four_image_url" property="fourImageUrl"/>
        <result column="four_image_width" property="fourImageWidth"/>
        <result column="four_image_height" property="fourImageHeight" />
        <result column="four_type" property="fourType" />
        <result column="four_display_id" property="fourDisplayId" />
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List" >
        id, cms_detail_id, sequence, is_available, layout_type,
        one_remark, one_image_url, one_image_width, one_image_height, one_type, one_display_id,
        two_remark, two_image_url, two_image_width, two_image_height, two_type, two_display_id,
        three_remark, three_image_url, three_image_width, three_image_height, three_type, three_display_id,
        four_remark, four_image_url, four_image_width, four_image_height, four_type, four_display_id,
        create_time, update_time
    </sql>

    <select id="findByCmsId" resultMap="BaseResultMap" >
        select <include refid="Base_Column_List" />
        from cms_group_detail
        where is_available = 1 and cms_detail_id = #{cmsDetailId}
        order by sequence asc
    </select>

    <select id="findByCmsDetailByIds" resultMap="BaseResultMap" >
        select <include refid="Base_Column_List" />
        from cms_group_detail
        where is_available = 1
        and cms_detail_id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>

</mapper>