<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.senhome.service.group.dal.mapper.GroupMapper" >

    <resultMap id="BaseResultMap" type="com.senhome.service.group.dal.dataobject.Group" >
        <id column="id" property="id"/>
        <result column="remark" property="remark"/>
        <result column="is_available" property="isAvailable"/>
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, remark, is_available, create_time, update_time
    </sql>

    <select id="findById" resultMap="BaseResultMap" >
        select <include refid="Base_Column_List" />
        from `group`
        where
        is_available = 1 and id = #{id}
    </select>

    <select id="findGroupByIds" resultMap="BaseResultMap" >
        select <include refid="Base_Column_List" />
        from `group`
        where is_available = 1
        and id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>

    <select id="findProductIdsGroupIdsByGroupIds" resultType="map" >
        select produc_id as productId, group_id as groupId
        from relation_group_product
        WHERE group_id IN
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
        AND is_available = 1
        ORDER BY sequence ASC
    </select>

    <select id="findProductIdsByGroupIds" resultType="int" >
        select produc_id
        from relation_group_product
        WHERE group_id IN
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
        AND is_available = 1
    </select>

</mapper>