<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.senhome.service.order.dal.mapper.OrderConfirmGoodsMapper" >

    <resultMap id="BaseResultMap" type="com.senhome.service.order.dal.dataobject.OrderConfirmGoods" >
        <id column="id" property="id"/>
        <result column="order_confirm_id" property="orderConfirmId"/>
        <result column="goods_id" property="goodsId"/>
        <result column="shopping_cart_id" property="shoppingCartId"/>
        <result column="count" property="count"/>
        <result column="is_available" property="isAvailable"/>
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, order_confirm_id, goods_id, shopping_cart_id, `count`, is_available, create_time, update_time
    </sql>

    <select id="findByOrderConfirmId" resultMap="BaseResultMap" >
        select <include refid="Base_Column_List" />
        from order_confirm_goods
        where is_available = 1 and order_confirm_id = #{orderConfirmId}
    </select>

    <insert id="insertOrderConfirmGoods" parameterType="com.senhome.service.order.dal.dataobject.OrderConfirmGoods" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO order_confirm_goods(order_confirm_id, goods_id, shopping_cart_id, `count`, create_time) VALUES(#{orderConfirmId}, #{goodsId}, #{shoppingCartId}, #{count}, now())
    </insert>

</mapper>